body {
	

	padding:0px;
	margin:0px;
}

html {
  scroll-behavior: smooth;
}

 .footer-bg  {
    background-color:#5084fa;
  }
.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}
	.ReadBtn {
		background-color: #ed1b24;
		color: #fff;
		border:1px solid #ed1b24;
		transition: 0.5s;
	    -webkit-box-shadow: 0 4px 0 #a90007;
	    -moz-box-shadow: 0 4px 0 #a90007;
	    box-shadow: 0 4px 0 #a90007;
	}
	
	.ReadBtn:hover {
		background-color:#a90007;
		color: #fff;
		transition: 0.5s;
		border:1px solid #a90007;
	}
	
    .divider-lg::after {
	    content: '';
	    display: inline-block;
	    width: 90px;
	    height: 3px;
	    background-color: #9deada;
	}
	.myBg {
		padding: 11px;
        background: #bd212d;
	}
	.Base {
		height: 500px;
        background:#ed1b24;
	}

  .box p {

    height:244px;
  }

	.box {
  background: white;
  border-left:4px solid  #ffffff;
  margin: auto;
  margin-top: 5%;
  max-width: 100%;
  padding: 16px 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.box:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  padding: 16px 12px;
  border-left: 4px solid red;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media screen and (max-width: 580px) {
  .navbar {display: ;
    
    
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }

  .carousel {
    z-index: -1;
	padding-top: 10%;   
  }
  
}


.texture {
    background: url(stripes.png) repeat;
    height: 100%;
    width: 100%;
   
    top: 0;
    left: 0;
  }
  .carousel {
    z-index: -1;
	
    
  }
  .item {

    border: 1px solid #e5e5e5;
  }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 100%;
}

#myBtn:hover {
  background-color: #555;
}


.modal-title {
  position: absolute;
}

.contact-form {
      background: #cecece;
    padding: 20px;
}

.contact-form button[type="submit"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #444;
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
    padding: 12px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    border-radius: 30px;


  }

  .contact-form button[type=submit]:hover {
    color: #fff;
    border: 1px solid #3EC1D5;
    background: #3EC1D5;
}

.list-style {
  list-style: none;
}

.copyright {
     color: #fff;
    padding-top: 10px;
    background: #404040;
}


.SendBtn {
      background-color: #ed1b24!important;
    color: #fff!important;
    border: 1px solid #ed1b24!important;
    transition: 0.5s!important;
    -webkit-box-shadow: 0 4px 0 #a90007!important;
    -moz-box-shadow: 0 4px 0 #a90007!important;
    box-shadow: 0 4px 0 #a90007!important;
}


.SendBtn:hover {
    background-color: #a90007!important;
    color: #fff!important;
    transition: 0.5s!important;
    border: 1px solid #a90007!important;
}
header {
	padding:10px;
	color:#fff;
	font-weight:500;
	font-size:16px;
	background:#11499e;
}
header a{
	
	color:#fff;
	font-weight:500;
	font-size:16px;
	background:#11499e;
}

header a:hover{
	color:#fff;
	font-weight:500;
	font-size:16px;
	background:#11499e;
}

.logo-img {
  height: 40px;
  width: 170px;
  object-fit: cover;   /* crops the square into rectangle */
}
